<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>GeekWinterMarket</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{navigation :: navi(Home)}"/>

<div class="container">
    <br>
    <div th:object="${product}">

        <h1 th:text="*{title}"></h1>

        <img th:if="${product.images.size() > 0}" width="40" height="40"
             th:src="@{'/images/' + ${product.images[0].path}}"/>

        <label for="productCost">Цена</label>
        <a th:text="*{price}" id="productCost"></a>

        <a th:text="*{category.title}"></a>
        <a th:text="*{shortDescription}"></a>
        <a th:text="*{fullDescription}"></a>

        <a th:href="@{'/shop/cart/add/' + ${product.id}}" class="btn btn-primary">Добавить в корзину</a>


    </div>


</div>
</body>
</html>